<h1>Clubs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th ng-show="TournamentGlobal.loggedIn">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="club in clubs">
      <td>
        <a href="/clubs/{{club.id}}">
          {{club.name}}
        </a>
      </td>
        <td>
          {{club.country.name}}
        </td>
      <td ng-show="TournamentGlobal.loggedIn">
        <a href="/clubs/{{club.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a ng-show="TournamentGlobal.loggedIn" href='/clubs/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
