<form name="editFight">
  <fieldset>
    <legend>
      Edit Fight
    </legend>
    <div class="row">
      <div class="control-group span4">
        <label class="control-label">
          Number
        </label>
        <div class="controls">
            <input type="number"
                   name="fight[number]"
                   ng-model="fight.number"
                   class="number_field"
                   required>
          <span ng-show="editFight.number.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group span4">
        <label class="control-label">
          Category
        </label>
        <div class="controls">
          <select ng-controller="CategoriesIndexCtrl" name="fight[category_id]" ng-model="fight.category_id" ng-options="c.id as c.name for c in categories" required></select>
          <span ng-show="editFight.category_id.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    </div> <!-- End first row -->
    <div class="row">
      <div class="control-group span4">
        <label class="control-label">
          Field Initial
        </label>
        <div class="controls">
            <select ng-controller="FieldsIndexCtrl" name="fight[field_initial_id]" ng-model="fight.field_initial_id" ng-options="c.id as c.name for c in fields" required></select>
          <span ng-show="editFight.field_initial_id.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group span4">
        <label class="control-label">
          Field Actual
        </label>
        <div class="controls">
          <select ng-controller="FieldsIndexCtrl" name="fight[field_actual_id]" ng-model="fight.field_actual_id" ng-options="c.id as c.name for c in fields" required></select>
          <span ng-show="editFight.field_actual_id.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    </div> <!-- End second row -->
    <div class="row">
      <div class="control-group span4">
        <label class="control-label">
          Competitor Blue
        </label>
        <div class="controls">
            <select ng-controller="CompetitorsIndexCtrl" name="fight[competitor_blue_id]" ng-model="fight.competitor_blue_id" ng-options="c.id as c.last_name for c in competitors | filter: { category_id : fight.category_id }"><option value=""></option></select>
        </div>
      </div>
      <div class="control-group span4">
        <label class="control-label">
          Competitor Red
        </label>
        <div class="controls">
            <select ng-controller="CompetitorsIndexCtrl" name="fight[competitor_red_id]" ng-model="fight.competitor_red_id" ng-options="c.id as c.last_name for c in competitors | filter: { category_id : fight.category_id }"><option value=""></option></select>
        </div>
      </div>
    </div> <!-- End third row -->
    <div class="row">
      <div class="control-group span">
        <label class="control-label">
          Competitor Winner
        </label>
        <div class="controls">
            <select ng-controller="CompetitorsIndexCtrl" name="fight[competitor_winner_id]" ng-model="fight.competitor_winner_id" ng-options="c.id as c.last_name for c in competitors | filter:isPossibleWinner"><option value=""></option></select>
        </div>
      </div>
    </div> <!-- End fourth row -->
    <div class="row">
      <div class="control-group span4">
        <label class="control-label">
          Previous Fight Blue
        </label>
        <div class="controls">
            <select ng-controller="FightsIndexCtrl" name="fight[previous_fight_blue_id]" ng-model="fight.previous_fight_blue_id" ng-options="c.id as c.number for c in fights | filter:isPossiblePrevious"><option value=""></option></select>
        </div>
      </div>
      <div class="control-group span4">
        <label class="control-label">
          Previous Fight Red
        </label>
        <div class="controls">
            <select ng-controller="FightsIndexCtrl" name="fight[previous_fight_red_id]" ng-model="fight.previous_fight_red_id" ng-options="c.id as c.number for c in fights | filter:isPossiblePrevious"><option value=""></option></select>
        </div>
      </div>
    </div> <!-- End fifth row -->
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || editFight.$invalid">
        Save
      </button>
      <button ng-click="destroy()"
              ng-show="fight.id"
              class="btn btn-danger">
              <i class="icon-trash"></i>Delete
      </button>
      <a href="/fights" class="btn">
        Back to fights
      </a>
    </div>
  </fieldset>
</form>

