<h1>Fights</h1>

<p>
  <a href='/fights/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
  <small>Press on Initial number to see details of the fight</small>
</p>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
        <th>Initial number</th>
        <th>Category</th>
        <th>Competitor blue</th>
        <th>Competitor red</th>
        <th>Previous fight blue</th>
        <th>Previous fight red</th>
        <th>Competitor winner</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="fight in fights">
        <td>
          <a href="/fights/{{fight.id}}">
          <div class="badge badge-info">{{fight.field_initial.name}}-{{fight.number}}</div>
          </a>
            <span ng-show="fight.field_actual.name != fight.field_initial.name || fight.number_actual!= fight.number">
             =>
            <div class="badge badge-info">{{fight.field_actual.name}}-{{fight.number_actual}}</div>
            </span>
        </td>
        <td>
          {{fight.category.name}}
        </td>
        <td>
          {{fight.competitor_blue.last_name}}
        </td>
        <td>
          {{fight.competitor_red.last_name}}
        </td>
        <td>
          <a href="/fights/{{fight.previous_fight_blue.id}}">
            <div class="badge badge-info">{{fight.previous_fight_blue.field_initial.name}}-{{fight.previous_fight_blue.number}}</div> 
          </a>
        </td>
        <td>
          <a href="/fights/{{fight.previous_fight_red.id}}">
            <div class="badge badge-info">{{fight.previous_fight_red.field_initial.name}}-{{fight.previous_fight_red.number}}</div> 
          </a>
        </td>
        <td>
          {{fight.competitor_winner.last_name}}
        </td>
      <td>
        <a href="/fights/{{fight.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/fights/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
