<form name="newField">
  <fieldset>
    <legend>
      New Field
    </legend>
      <div class="control-group">
        <label class="control-label">
          Name
        </label>
        <div class="controls">
            <input type="text"
                   name="field[name]"
                   ng-model="field.name"
                   class="text_field"
                   required>
          <span ng-show="newField.name.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Competition
        </label>
        <div class="controls">
            <select ng-controller="CompetitionsIndexCtrl" name="field[competition_id]" ng-model="field.competition_id" ng-options="c.id as c.name for c in competitions" required></select>
          <span ng-show="newField.competition_id.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || newField.$invalid">
        <i class="icon-save"></i> Save
      </button>
      <button ng-click="destroy()"
              ng-show="field.id"
              class="btn btn-danger">
              <i class="icon-trash"></i> Delete
      </button>
      <a href="/fields" class="btn">Back to fields</a>
    </div>
  </fieldset>
</form>

