<h1>Field</h1>

<p>
  <b>Name</b><br>
  {{field.name}}
</p>

<p>
  <b>Competition</b><br>
  {{field.competition.name}}
</p>

<div class="form-actions">
  <a href="/fields/{{field.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit Field
  </a>
  <button ng-click="destroy()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/fields" class="btn">
    Back to fields
  </a>
</div>

