<h1>Competitors</h1>

<p>
  <a href='/competitors/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Lot number</th>
        <th>Club</th>
        <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="competitor in competitors">
      <td>
        <a href="/competitors/{{competitor.id}}">
          {{competitor.first_name}}
        </a>
      </td>
        <td>
          {{competitor.last_name}}
        </td>
        <td>
          {{competitor.lot_number}}
        </td>
        <td>
          {{competitor.club.name}}
        </td>
        <td>
          {{competitor.category.name}}
        </td>
      <td>
        <a href="/competitors/{{competitor.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          Edit
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/competitors/new' class="btn btn-primary">
    <i class="icon-plus"></i>New
  </a>
</p>
