<h1>Fights Status</h1>
<div ng-controller="FieldsIndexCtrl">
  <div class="well well-small row margin-left-0" ng-repeat="field in fields">
    <div class="span9 margin-left-0">
      <div class="label label-info">{{field.name}}</div>
    </div>
    <div class="span9 margin-left-0">
      <div class="span2 well well-small margin-left-10" ng-repeat="fight in field_fights | filter: { field_actual_id : field.id }">
        <a href="/fights/{{fight.id}}">
          <div class="badge badge-info">{{fight.field_initial.name}}-{{fight.number}}</div>
          </a>
            <span ng-show="fight.field_actual.name != fight.field_initial.name || fight.number_actual!= fight.number">
            <span class="icon-double-angle-right"></span>
            <div class="badge badge-info">{{fight.field_actual.name}}-{{fight.number_actual}}</div>
            </span>
        <div>
          <div ng-show="fight.competitor_blue_id != null" class="text-info" ng-class="{'icon-trophy':fight.competitor_winner_id == fight.competitor_blue_id}">
            <strong>{{fight.competitor_blue.lot_number}} - {{fight.competitor_blue.last_name}}</strong>
            </br>
            <small>({{fight.competitor_blue.club.name}})</small>
          </div>
          <div ng-show="fight.competitor_blue_id == null" class="text-info">Winner of {{fight.previous_fight_blue.field_initial.name}}-{{fight.previous_fight_blue.number}}</div>

          <div ng-show="fight.competitor_red_id != null" class="text-error" ng-class="{'icon-trophy':fight.competitor_winner_id == fight.competitor_red_id}">
            <strong>{{fight.competitor_red.lot_number}} - {{fight.competitor_red.last_name}}</strong>
            </br>
            <small>({{fight.competitor_red.club.name}})</small>
          </div>
          <div ng-show="fight.competitor_red_id == null" class="text-error">Winner of {{fight.previous_fight_red.field_initial.name}}-{{fight.previous_fight_red.number}}</div>

        </div>
      </div>
    </div>  
  </div>
</div>

</p>
