// Place all the styles related to the FieldFights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-left-20 {
  margin-left: 20px;
  width: auto;
}

.margin-left-10 {
  margin-left: 10px;
  width: auto;
}

.margin-left-0 {
  margin-left: 0;
}
