<form name="editCategory">
  <fieldset>
    <legend>
      Edit Category
    </legend>
      <div class="control-group">
        <label class="control-label">
          Name
        </label>
        <div class="controls">
            <input type="text"
                   name="category[name]"
                   ng-model="category.name"
                   class="text_field"
                   required>
          <span ng-show="editCategory.name.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Comment
        </label>
        <div class="controls">
            <input type="text"
                   name="category[comment]"
                   ng-model="category.comment"
                   class="text_field"
                   required>
          <span ng-show="editCategory.comment.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
      </div>
    <div class="form-actions">
      <button class="btn btn-success" ng-click="save()"
        ng-disabled="isClean() || editCategory.$invalid">
        Save
      </button>
      <button ng-click="destroy()"
              ng-show="category.id"
              class="btn btn-danger">
              <i class="icon-trash"></i>Delete
      </button>
      <a href="/categories" class="btn">
        Back to categories
      </a>
      <a href="/categories/new" class="btn">
         Add more categories
      </a>
    </div>
  </fieldset>
</form>

