<h1>Category</h1>

<p>
  <b>Name</b><br>
  {{category.name}}
</p>

<p>
  <b>Comment</b><br>
  {{category.comment}}
</p>

<div class="form-actions">
  <a ng-show="TournamentGlobal.loggedIn" href="/categories/{{category.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit Category
  </a>
  <button ng-show="TournamentGlobal.loggedIn" ng-click="destroy()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/categories" class="btn">
    Back to categories
  </a>
</div>

